<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.teamforone.quanlysinhvien">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Quản Lý Sinh Viên"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="Quản Lý Sinh Viên">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Student Activity -->
        <activity
            android:name=".ui.AddSinhVienActivity"
            android:label="Thêm Sinh Viên"
            android:parentActivityName=".ui.MainActivity" />

        <!-- Edit Student Activity -->
        <activity
            android:name=".ui.EditSinhVienActivity"
            android:label="Cập Nhật Sinh Viên"
            android:parentActivityName=".ui.MainActivity" />

    </application>

</manifest>